/*-----------------------------------*\
  #style.css
\*-----------------------------------*/


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  /* gradient */

  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(220, 20%, 94%) 3%, 
    hsla(220, 20%, 94%) 97%
  );
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right, 
    hsl(45, 100%, 71%) 0%, 
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
    135deg, 
    hsla(45, 100%, 71%, 0.251) 0%, 
    hsla(35, 100%, 68%, 0) 59.86%
  ), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(35, 20%, 92%) 0%, 
    hsla(30, 20%, 92%, 0.095) 50%
  );
  --text-gradient-blue: linear-gradient(
    to right, 
    hsl(190, 91%, 44%), 
    hsl(190, 80%, 45%)
  );

  /* solid */

  --onyx: var(--light-beige);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --beige-white: hsl(35, 25%, 97%);
  --light-beige: hsl(35, 20%, 92%);
  --dark-beige: hsl(35, 25%, 95%);
  --light-blue: hsl(190, 80%, 45%);
  --dark-brown-gray: hsl(35, 20%, 30%);
  --dirty-rose: #cb997e;
  --sage-green: #b7b7a4;
  --moss-green: #a5a58d;
  --olive-green: #6b705c;

  --white-1: hsl(0, 0%, 100%);
  --orange-yellow-crayola: hsl(43, 12%, 12%);
  --light-gray: hsl(0, 0%, 84%);
  --bittersweet-shimmer: hsl(0, 43%, 51%);


  /**
   * typography
   */

  /* font-family */
  /* --ff-poppins: 'Poppins', sans-serif; */
  /* --ff-poppins: 'Roboto', sans-serif; */
  /* --ff-poppins: 'Open Sans', sans-serif; */
  --ff-poppins: 'Fira Mono', serif;

  /* font-size */
  --fs-1: 18px;
  --fs-2: 16px;
  --fs-3: 15px;
  --fs-4: 14px;
  --fs-5: 13px;
  --fs-6: 12px;
  --fs-7: 11px;
  --fs-8: 9px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */
  
  --shadow-1: -4px 8px 24px hsla(0, 2%, 55%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

img, ion-icon, a, button, time, span { display: block; }

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--light-gray);
}

:focus { outline-color: var(--orange-yellow-crayola); }

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body { background: var(--dark-beige); }

header {margin-bottom: 1rem;}



/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.article {
  background: var(--beige-white);
  border: 1px solid var(--light-beige);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.section{
  padding: 10px;
  z-index: 1;
  margin-bottom: 5px;
  display: block;
  animation: fade 0.5s ease backwards;
}

/* Hide all sections by default */
.section:not(:first-of-type) {
  /* To be controlled by JS if needed, but for scrolling they can all be visible */
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.h2,
.h3,
.h4,
.h5 {
  color: var(--dark-brown-gray);
  text-transform: capitalize;
}

.h1 { font-size: var(--fs-1); }
.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.h4 { font-size: var(--fs-4); }

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.section-title {
  position: relative;
  padding-bottom: 7px;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6em;
  height: 5px;
  background: var(--moss-green);
  border-radius: 3px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbar */
  height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--onyx);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--orange-yellow-crayola);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 20px; }

.content-card {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;
}

.content-card::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--light-beige);
  border-radius: inherit;
  z-index: -1;
}





/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
  margin: 15px 15px;
  margin-bottom: 75px;
  min-width: 259px;
  /* padding: 30px */
}

.main-content {
  border-radius: 18px; /* Softens the corners */
  box-shadow: var(--shadow-5);
  padding-left: 1rem;
  padding-right: 1rem;
}
.main-content::after {
  content: "";
  display: table;
  clear: both;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
}

.icon-box {
  position: relative;
  /* background: var(--light-blue); */
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--sage-green);
  border-radius: inherit;
  width: inherit;
  height: inherit;
  z-index: -1;
}

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/


.navbar {
  /* make the navbar float on top when on narrow screen */
  float: none;
  width: 100%; 
  position: sticky;
  top: 0;
  z-index: 5;
  background: rgba(250, 250, 244, 0.5);
  backdrop-filter: blur(10px);

  border-radius: 0 0 10px 10px;
  border: 1px solid var(--light-gray);
  box-shadow: var(--shadow-4);
}

/* 讓導覽列的項目在手機上置中 */
.navbar-list {
  justify-content: center;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.navbar-link {
  color: var(--dark-brown-gray);
  font-size: var(--fs-5);
  font-weight: 500;
  padding: 5px 5px;
  transition: color var(--transition-1);
}

.navbar-link:hover,
.navbar-link:focus { color: var(--light-blue); }

.navbar-link.active { color: var(--light-blue); }





/*-----------------------------------*\
  #SECTIONS
\*-----------------------------------*/

.about .section-title { margin-bottom: 15px; }

.about-text {
  color: var(--dark-brown-gray);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.about-text p { margin-bottom: 15px; }

section > article {
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
}

.section { margin-bottom: 5px; margin-top:5px }

/* Publication Styling */
.publication-item {
  display: flex; /* This places the image and text details side-by-side */
  gap: 1.5rem;   /* This creates space between the image and the text */
  align-items: flex-start; /* Aligns items to the top */
  margin-bottom: 2rem;
}

.publication-details {
  flex: 1; /* Allows the details block to take up the remaining space */
}

.publication-title {
  margin: 0 0 0.5em 0;
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
  font-style: italic;
  font-family: "Newsreader", serif;
  color: var(--dark-brown-gray);
}

.publication-authors {
  margin: 0 0 0.5em 0;
  color: var(--dark-brown-gray);
  font-weight: var(--fw-400);
  font-size: var(--fs-4);
  font-family: "Newsreader", serif;
}


/* --- CONFERENCE BANNER --- */

.publication-thumbnail-container {
  position: relative;
  width: 200px;
  height: 120px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 8px;
}

.publication-thumbnail-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.conference-banner {
  position: absolute; /* Takes the banner out of the normal flow */
  top: 0;             /* Positions it at the top of the container */
  left: 0;            /* Positions it at the left of the container */
  width: 100%;        /* Makes it span the full width of the container */

  background-color: var(--dirty-rose); /* The dark blue from your title theme */
  color: white;             /* White text */
  text-align: center;       /* Center the text */
  padding: 4px 0;           /* Add some vertical padding */
  font-size: var(--fs-7);
  font-weight: var(--fw-400);
}

/* Button Styling (re-using this for consistency) */
.button {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  text-decoration: none;
  color: var(--dirty-rose);
  margin-right: 10px;
  background-color: white;
}

.button:hover {
  background-color: #e7e7e7;
  border-color: #bbb;
}

.inline-ref {
  display: inline;
  color: var(--light-blue);
  text-decoration: none;
}
.inline-ref:hover {
  text-decoration: underline;
}

/*-----------------------------------*\
  #NEWS
\*-----------------------------------*/
.news-list {
  padding-left: 20px;
}

.news-list li {
  margin-bottom: 0.75rem;
  list-style-type: disc;
  color: var(--dark-brown-gray);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  /* line-height: 1.6; */
}

.news-date {
  margin-bottom: 0.75rem;
  font-weight: 500;
  color: var(--dark-brown-gray);
}

/*-----------------------------------*\
  #PROJECTS
\*-----------------------------------*/

.filter-list { display: none; }

.filter-select-box {
  position: relative;
  margin-bottom: 25px;
}

.filter-select {
  background: var(--eerie-black-2);
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--dark-brown-gray);
  border-radius: 14px;
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

.filter-select.active .select-icon { transform: rotate(0.5turn); }

.select-list {
  background: var(--eerie-black-2);
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 6px;
  border: 1px solid var(--dark-brown-gray);
  border-radius: 14px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out;
}

.filter-select.active + .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.select-item button {
  background: var(--eerie-black-2);
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  text-transform: capitalize;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
}

.select-item button:hover { --eerie-black-2: hsl(240, 2%, 20%); }

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 10px;
}

.project-item { 
  display: block; /* All items are visible by default */
  animation: scaleUp 0.25s ease forwards;
}

.project-item:not(.active) {
  display: none; /* Hide non-active items when filtering */
}

@keyframes scaleUp {
  0% { transform: scale(0.5); }
  100% { transform: scale(1); }
}

.project-item > a { width: 100%; }

.project-img {
  position: relative;
  aspect-ratio: 5/3;
  width: 95%;
  /* height: 200px; */
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-img::before { background: hsla(0, 0%, 0%, 0.1); }

.project-item-icon-box {
  --scale: 0.8;

  background: var(--white-1);
  color: var(--eerie-black-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-item-icon-box {
  --scale: 1;
  opacity: 1;
}

.project-item-icon-box ion-icon { --ionicon-stroke-width: 50px; }

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-1);
}

.project-item > a:hover img { transform: scale(1.1); }

.project-title,
.project-category { margin-left: 10px; }

.project-title {
  color: var(--dark-brown-gray);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  text-transform: capitalize;
  line-height: 1.3;
  text-align: center;
}

.project-category {
  color: var(--dark-brown-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}


/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/**
 * responsive larger than 450px screen
 */

@media (min-width: 450px) {

  .project-img,
  .blog-banner-box { height: auto; }

}


/**
 * responsive larger than 580px screen
 */

@media (min-width: 580px) {
  /* resize font size */
  :root {
    --fs-1: 30px;
    --fs-2: 24px;
    --fs-3: 22px;
    --fs-4: 18px;
    --fs-5: 16px;
    --fs-6: 15px;
    --fs-7: 14px;
    --fs-8: 12px;
  }

  section, article {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
  }

  .section-title {
    font-weight: var(--fw-600);
    padding-bottom: 15px;
  }


  main {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  
  .navbar-list {
    gap: 15px;
    padding: 0 10px;
  }

  .navbar-link { 
    font-size: var(--fs-5);
    font-weight: var(--fw-400); 
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

/**
 * responsive larger than 768px screen
 */

@media (min-width: 768px) {

  section, article { width: 700px; }

  .contacts-list {
    gap: 16px;
  }

  .navbar {
    /* make navbar right when it's on wider screen */
    float: right;
    width: max-content;
    margin-right: -1rem;
    top: 0;
  }

  .icon-box {
    position: relative;
    /* background: var(--light-blue); */
    width: 45px;
    height: 45px;
    border-radius: 10px;
    font-size: 25px;
  }

  .has-scrollbar::-webkit-scrollbar-button { width: 100px; }

  .filter-select-box { display: none; }

  .filter-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding-left: 5px;
    margin-bottom: 30px;
  }

  .filter-item button {
    color: var(--dark-brown-gray);
    font-size: var(--fs-5);
    transition: var(--transition-1);
    font-weight: 500;
  }

  .filter-item button:hover { color: var(--light-blue); }

  .filter-item button.active { color: var(--light-blue); }

  .project-list { grid-template-columns: 1fr 1fr; }
  
}


/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {
  :root {
    --shadow-1: -4px 8px 24px hsla(0, 0%, 99%, 0.395);
    --shadow-2: 0 16px 30px hsla(0, 0%, 99%, 0.395);
    --shadow-3: 0 16px 40px hsla(0, 0%, 99%, 0.395);
  }

  
  section, article {
    width: 100%;
  }

  main { margin-bottom: 60px; }

  .main-content {
    position: relative;
    width: 950px;
    margin: auto;
  }

  .navbar-list {
    gap: 30px;
    padding: 0 20px;
  }

  .navbar-link { 
    font-size: var(--fs-4);
    font-weight: var(--fw-500); 
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .project-list { grid-template-columns: repeat(3, 1fr); }
}


/**
 * responsive larger than 1250px screen
 */

@media (min-width: 1250px) {

  body::-webkit-scrollbar { width: 20px; }

  body::-webkit-scrollbar-track { background: var(--light-gray); }

  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--light-gray);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
                inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.15); }

  body::-webkit-scrollbar-button { height: 60px; }

  section, article { width: 100%; }

  main {
    max-width: 1200px;
    margin-inline: auto;
    gap: 25px;
  }

  .main-content {
    width: 950px;
    margin: auto;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
  }
  
  .gallery-item {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  
}